*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    background-color: rgb(175, 141, 238);
    min-height: 815px;
    border:10px solid #5c18ca;
    
}
.content{
    width:800px;
    /* background-color: rgb(180, 62, 235); */
    margin: auto;

}
.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h1{
    font-size: 50px;
    font-weight: 50%;
}
.top-section h4{
    text-align: right;
    font-size: 20px;
}
img{
    margin-left: 15px;
    width:300px;
    height: 320px;
    border-radius: 50%;
}
.about-section{
    margin-top: 20px;
}
.about-section h2{
    font-size: 70px;
    font-weight: 50%;
    margin-bottom: 50px;
}
.about-section p{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    letter-spacing:1.2px
}
.biography-section{
    margin-top: 20px;
}
.sub{
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing:1.2px;
    margin-left:30px;
    margin-bottom: 35px;
}
footer{
    text-align: right;
    margin-bottom: 20px;
}